errorB.txt
linear.log
linear.tex
nonlinear
linear.pdfnonlinear.pdfresiduals.pdfteflonResiduals.pdf
Analyser.java~data_glycerin.txtdata_hbfF.txtdata_teflon.txterrorB.txterrorB.txt~errorF.txtglycerin-02.txtglycerin-02.txt~glycerin.txtglycerin.txt~glycerinGnu.txthbfF.txthbfF.txt~linear.auxlinear.loglinear.synctex.gzlinear.texnonlinearnonlinear.auxnonlinear.lognonlinear.synctex.gzPlotUtil.java~README.txtREADME.txt~residuals_glycerin.txtresiduals_hbfF.txtresiduals_teflon.txtresiduals.auxresiduals.logresiduals.synctex.gzresiduals.texStatsUtil.java~teflon.txtteflon.txt~test.gnu
